#header {
  background: #1e293b;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  
}

#container {
  max-width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#formulario,
#tabela {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}

#tituloFormulario,
#tituloTabela {
  margin-bottom: 15px;
  color: #1e293b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#formEntrada label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

#formEntrada input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#btnEntrada {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btnEntrada:hover {
  background: #1d4ed8;
}


#cabecalhoTabela th {
  background: #e5e7eb;
  padding: 10px;
  
  
}

#corpoTabela td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
   border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.btnSaida {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btnSaida:hover {
  background: #b91c1c;
}

#footer {
  margin-top: 40px;
  background: #1e293b;
  color: white;
  text-align: center;
  padding: 15px;
}


#listaVeiculos {
  width: 100%;
  table-layout: fixed;
}

#listaVeiculos th, 
#listaVeiculos td {
  width: 20%;
  text-align: center;
  overflow: hidden;
 
  white-space: normal;
}


#corpoTabela button:not(.btnSaida) {
  margin-top: 6px;
  padding: 6px 10px;
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.2s ease;
}

#corpoTabela button:not(.btnSaida):hover {
  background: #2563eb;
  color: white;
}



